[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = ">=2.0.0"
statsd = ">=3.2.2"
psutil = ">=5.4.3"
gunicorn = "*"
whitenoise = "*"
